@import './variable';

body {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr 1fr;
  grid-template-rows: max-content auto max-content;
  grid-template-areas:
    'links links links links'
    '. sidebar article .'
    '. footer footer .';
  justify-content: center;
  margin: 0 auto;
  padding: 2px;
  background-color: transparent;
}

nav {
  height: auto;
  background-color: $primaryColor;
  border-bottom: 4px solid lighten($primaryColor, 40%);
  ul {
    display: grid;
    grid-template-columns: repeat(12, 9rem);
    grid-template-rows: 3rem;
    list-style-type: none;
  }
  li {
    color: $fontColor;
    background-color: $secondaryColor;
  }
  .lista {
    grid-column: 3;
  }
  a {
    padding: 0;
    color: $fontColor;
  }
  a:hover {
    color: coral;
  }
  span {
    padding: 0;
    color: $primaryColor;
  }
}

main {
  background-color: #e6e4d9;
  border-right: 1px solid darken(#e6e4d9, 50%);
  border-bottom: 3px solid darken(#e6e4d9, 50%);
}

footer {
  background-color: $primaryColor;
  margin-top: 0;
  color: #fff;
}
